#main-header {
    background-image: url(../img/header/pictures_on_the_wall.jpg);
    @include mask;
    height: 100vh;

    .header-content {

        h1 {
            font-family: $items-text;
            font-size: 4em;
        }

        h2 {
            font-family: $text-font;
            font-size: 3em;
        }
        
        .read-more{
            @include btn;
            
            &:hover{
                @include btn-hover;
            }
        }
    }
}
