//COLORS
$headers-color: #333;
$text-color: #777;
$azure-color: #0ed8d6;
$portolio-bgc:  #f7f7f7;
$icons-color: #222;

//FONTS
$text-font: 'RobotoSlab', sans-serif;
$aslope-text: 'Droid Serif', sans-serif;
$items-text: 'Montserrat', sans-serif;
    